<div class="container">
  <h2>Les six premiers pokemons: </h2>
  <hr>
  <div class="columns">
    <div class="column">
      <p>Dans l'ordre du Pokédex : </p>
    </div>
  </div>
  <div class="columns is-multiline">
    <ul class="menu-list column is-one-third" *ngFor="let pokemon of pokemons">
      <li>
        <ul class="menu-list">
          <img src="{{ pokemon.img }}"/>
          <a>{{ pokemon.nom}}</a>
          <li>Catégorie : <span *ngIf="pokemon.categorie; else na">{{pokemon.categorie}}</span></li>
          <li>Type : <span *ngIf="pokemon.type; else na"></span>{{pokemon.type}}</li>
          <li>Taille : <span *ngIf="pokemon.taille;else na"></span>{{pokemon.taille | number:'1.0-2'}} m</li>
          <li>Poids : <span *ngIf="pokemon.poids;else na"></span>{{pokemon.poids | number:'1.0-2'}} kg</li>
          <ng-template #na>N/A</ng-template>
          
        </ul>
      </li>
    </ul>
  </div>
</div>
